
/*Nav*/
header {
    background: url(imagenes/bg.jpg);
    padding: 20px 0;
} 

.caja-header{
  display: flex;
  justify-content:space-around;
  align-items: center;
}



nav li {
    display: inline;
    margin: 0 30px;
} 


nav a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #f8ed52;
    text-decoration: underline;
}

.titulo-principal {
    font-family: 'Martian Mono', monospace;
    text-align: center;
    font-size: 2rem;
    margin: 0 0 1em;
    clear: left;
}

/*Home*/
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    display: flex;
    width: 100%;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    display: flex;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }

/*video FIN*/

.diferenciales {
    padding: 3em 0;
}

.contenido-diferenciales {
    display: flex;
    justify-content: center;
}

.contenido-diferenciales > img {
    width: 384px;
    height: 576px;
}

.lista-diferenciales {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

.items {
    line-height: 5;
}

.items:before {
    content: "☆";
}

/* nth selecciona el numero de item anidado */
.items:nth-child(1) {
    font-weight: bold;
}

.imagen-diferenciales {
    width: 60%;
    box-shadow: 10px 10px #f8ed52;
}

.mapa {
    padding: 3em 0;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido {
    width: 940px;
    margin: 0 auto;
}

footer {
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}


/*Productos*/

.productos {
    display: flex;
    justify-content: space-around;
    padding: 50px;

}

.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    border-color: #000000;
    border-width: 2px;
    border-style: dashed;
    border-top-width: 10px;
}

.productos li:hover{
    border-color:#f8ed52;
}

.productos li:active{
    border-color:#088c19;
}

.productos h2 {
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;
}

.producto-descripcion {
    font-size: 18px;
}

.producto-precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

/*Contactos*/

.contenedor-contactos {
    width:  940px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
} 

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 1s all;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -ms-transition: 1s all;
    -o-transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2) rotate(7deg);
    -webkit-transform: scale(1.2) rotate(7deg);
    -moz-transform: scale(1.2) rotate(7deg);
    -ms-transform: scale(1.2) rotate(7deg);
    -o-transform: scale(1.2) rotate(7deg);
}

.tablas {
    display: flex;
    justify-content: center;
}

table {
    margin: 40px 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

tfoot {
    background: #555555;
    color: red;
    font-weight: bold;
}

/*medias*/

@media only screen and (min-width:320px) and (max-width: 640px){
    .caja-header {
        display: flex;
        flex-direction: column;
    }

    .caja-header ul {
        display: flex;
        flex-direction: row;
    }

    nav li {
        margin: 0 5px;
    }

    nav a {
        font-size: 10;

    }

    .contenido-diferenciales{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .lista-diferenciales{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .mapa-contenido {
        width: 300px;
    }

    /*productos*/

    .productos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .productos li {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
   
  }
  @media (min-width: 950px){
    
  }
  @media (max-width: 1200px){
   
  }