
/*Nav*/
header {
    background: url(imagenes/bg.jpg);
    padding: 20px 0;
} 

.caja-header{
  display: flex;
  justify-content:space-around;
  align-items: center;
}



nav li {
    display: inline;
    margin: 0 30px;
} 


nav a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #f8ed52;
    text-decoration: underline;
}

.titulo-principal {
    font-family: 'Martian Mono', monospace;
    text-align: center;
    font-size: 2rem;
    margin: 0 0 1em;
    clear: left;
}

/*Home*/
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    display: flex;
    width: 100%;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    display: flex;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }

/*video FIN*/

.diferenciales {
    padding: 3em 0;
}

.contenido-diferenciales {
    display: flex;
    justify-content: center;
}

.contenido-diferenciales > img {
    width: 384px;
    height: 576px;
}

.lista-diferenciales {
    display: inline-block;
    width: 25%;
    vertical-align: top;
}

.items {
    line-height: 4;
    font-size: 1.5em;
}

.items:before {
    content: "☆";
}

/* nth selecciona el numero de item anidado */
.items:nth-child(1) {
    font-weight: bold;
    font-style: italic;
}

.imagen-diferenciales {
    width: 60%;
    box-shadow: 10px 10px #f8ed52;
}

.mapa {
    padding: 3em 0;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido {
    width: 940px;
    margin: 0 auto;
}

footer {
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
    position: relative;
    bottom: 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}


/*Productos*/

.productos {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    border-color: #000000;
    border-width: 2px;
    border-style: dashed;
    border-top-width: 10px;
}

.productos li:hover{
    border-color:#f8ed52;
}

.productos li:active{
    border-color:#088c19;
}

.productos h2 {
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;
}

.producto-descripcion {
    font-size: 18px;
}

.producto-precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

/*Galeria*/
.row {
    display: flex;
    justify-content: center;
    margin: 50px;
  }
  
  .card {
    height: 450px;
    width: 300px;
    background: url(galeria/08.jpg) center/cover no-repeat;
    border-radius: 15px;
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
}

/*medias*/

@media only screen and (min-width:320px) and (max-width: 640px){
    .caja-header {
        display: flex;
        flex-direction: column;
    }

    .caja-header ul {
        display: flex;
        flex-direction: row;
    }

    nav li {
        margin: 0 5px;
    }

    nav a {
        font-size: 10;

    }

    .contenido-diferenciales{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .lista-diferenciales{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: .8em;
    }

    .mapa-contenido {
        width: 300px;
    }

    /*productos*/

    .productos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .productos li {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-top: 10px;
    }
   
  }
  @media (min-width: 950px){
    
  }
  @media (max-width: 1200px){
   
  }